/XLStoMSSQL.Net/obj
XLStoMSSQL.zip
.vs/ProjectEvaluation/xlstomssql.metadata.v6.1
.vs/ProjectEvaluation/xlstomssql.projects.v6.1
.vs/XLStoMSSQL/DesignTimeBuild/.dtbcache.v2
.vs/XLStoMSSQL/FileContentIndex/0399dde8-6e1f-4edc-b791-583dbe27fee0.vsidx
.vs/XLStoMSSQL/FileContentIndex/6ad1ba54-bd0a-4690-8245-c729ee3b050c.vsidx
.vs/XLStoMSSQL/FileContentIndex/9a9b7c6b-5aee-476e-b548-2d0cb1471401.vsidx
.vs/XLStoMSSQL/FileContentIndex/bf4518d4-9bc9-4117-b088-7a3286b7f3fd.vsidx
.vs/XLStoMSSQL/FileContentIndex/read.lock
.vs/XLStoMSSQL/v17/.suo
XLStoMSSQL.Net/SeriLogger
XLStoMSSQL.Net/bin/Debug/net6.0/Microsoft.Extensions.Hosting.WindowsServices.dll
XLStoMSSQL.Net/bin/Debug/net6.0/Serilog.dll
XLStoMSSQL.Net/bin/Debug/net6.0/Serilog.Extensions.Hosting.dll
XLStoMSSQL.Net/bin/Debug/net6.0/Serilog.Extensions.Logging.dll
XLStoMSSQL.Net/bin/Debug/net6.0/Serilog.Sinks.Console.dll
XLStoMSSQL.Net/bin/Debug/net6.0/Serilog.Sinks.File.dll
XLStoMSSQL.Net/bin/Debug/net6.0/System.ServiceProcess.ServiceController.dll
XLStoMSSQL.Net/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.ServiceProcess.ServiceController.dll
XLStoMSSQL.Net/DB_Archive/1.0.0/001_CREATE_TABLE_DataLog.sql
XLStoMSSQL.Net/DB_Archive/1.0.0/002_CREATE_TABLE_TempDataLog.sql
